* {
    text-transform: uppercase;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.done {
    text-decoration: underline;
    color: limegreen;
}
